#full-page{
  /*margin-left: 0px;
  margin-right: 0;*/
}
article{
  padding-left: 10px;
}


ul>li{
  list-style: none;
  display: inline-block;
  border: 2px solid black;
  position: relative;
  margin:5px;
  margin-bottom: 20px;
}

.fixed-height{
  height:10em;
}
.full-width{
  width: 100%;
}
.item-title{
  margin:   0px;
}
.menu-choice{
  border: 2px solid black;
  margin-bottom: 20px;
}
.menu-item{
  margin:7px 7px 7px 9px;
}
.myaction {
   color: red;
}
