<h3>{{title}} ({{items.length}})</h3>
<div class="row" >

  <div ng-repeat="item in items" class="col-sm-6 fixed-height" >
    <div class="menu-choice h-100">
      <section class="myaction">
        <button class="full-width" ng-click="remove({message:$index})" class="">
          <span class="glyphicon glyphicon-remove-sign "></span> Don't want this one!
        </button>
      </section>

      <section class="menu-item">
        <h4 class="item-title">{{item.short_name}}. {{item.name}} </h4>
        <article>
          {{item.description}}
        </article>
      </section>
    </div>
  </div>

</div>
