<!doctype html>
<html lang="en">

<head>
  <title>Lunch Checker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles/bootstrap.min.css">
  <style>
  .message {
    font-size: 1.3em;
    font-weight: bold;
  }
  </style>
</head>

<body ng-app="week1App">
  <div ng-controller="LunchController" class="container">
    <h1>Lunch Checker</h1>
    <div class="form-group">
      <input ng-model="lunch_items" id="lunch-menu" type="text" placeholder="list comma separated dishes you usually have for lunch" class="form-control"> 
    </div>
    <div class="form-group">
      <button ng-click="countItems()" class="btn btn-default">Check If Too Much</button>
      <h6> Note: empty strings between comma's (ie , , and ,,) are not being counted as items</h6>
    </div>
    <div class="form-group message">
      {{diet_minder}}
    </div>
  </div>


  <script src="angular.min.js"></script>
  <script src="app.js"></script>
</body>

</html>
