 .alert {
   font-weight: bold;
   font-size: 1.2em;
 }
 
 li {
   font-size: 1.2em;
 }
 
 #toBuy > li {
   margin-bottom: 7px;
   list-style-type: circle;
 }
 
 li > button {
   margin-left: 6px;
 }
 
 li > span {
   color: green;
 }
 
 button > span {
   color: tan;
 }
